.colors_cont {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
.color_box {
    border: 1px solid #ede8e8;
    width: 45px;
    height: 45px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    background-size: cover;
  }
  .color_box:hover{
    border: 1px solid black;
  }