.product_heading {
  color: black;
  font-family: var(--third_font);
  font-size: 28px;
  line-height: 28px;
  position: relative;
  width: max-content;
  height: 40px;
  display: flex;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}

.product_heading::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  background: #ff4545;
}
.prod_price {
  display: flex;
  gap: 10px;
  justify-content: baseline;
  align-items: baseline;
}
