.top-products {
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 14px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  padding: 15px 30px;
  box-sizing: border-box;
  position: relative;
}
.top_products_caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_prouctsBox_container {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px 10px;
  position: relative;
}
